body {
    /* font-size: 10px; */
   /*  background-color:  #ff7376; */
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.nav-color {
  /* background-color: transparent; */
 /*  padding: 15px; */
  background-color: rgba(0,0,0,0.1);
  transition: all 0.7s ease;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  color:  white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color:  #FFB6C1;
  font-weight: bold;
}
  
/* Home */
.home-container {
  background-image: url(../src/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #f2f2f2;
  height: 100vh;
}

.big-container {
  font-family: 'Helvetica', cursive;
   /*  background-color: rgba(0,0,0,0.1); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-container {
  width: 100vw;
  height: 100vh;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
  padding: 45px;
}

.font-size-7rem {
  font-size: 7rem;
}
.font-size-2rem {
  font-size: 25px;
}

/* About me  */

.photo {
 /*  border: 10px solid #F5C319;
  border-radius: 5px; */
  margin: auto;
  width:70%;
}

.jumbotron {
 /*  background-color: #999; */
 /*  background-color:#fcfcfc; */
}

.resume {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
/*   background-color:   #ff4d94; */
  margin: 10px;
  color: #808080;
/*   font-size: 18px; */
  padding-right: 0;
  text-align:justify;
 /*  border-radius: 5px; */
}

.justify {
  text-align:justify;
}

.btn-container {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nice-btn {
  background: #7f7f7f;
  color: #f0f0e6;
  border: 1px solid #7f7f7f;
  border-radius: 5px;
  margin-bottom: 1.25em; 
  /* margin-top: 30px; */
  /* margin-bottom: 30px; */
}

.nice-btn:hover {
  background: #FFB6C1;
  color: #7f7f7f; 
  font-weight: bold;
  border-radius: 5px;
}
 
.box {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-top: 0;
}

/* Projects*/
.screen {
/*   margin: 0 auto;  */
  height: 450px;
  width: 100%;
  border-radius: 5px;
   /* width: 400px; */ 
}

/* Skills */
.tech-skills {
  background-color: #808080;
  padding: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-skills .icons {
  color: 	#FFB6C1;
  margin: 0 1em;
}

.tech-skills .icons:hover {
  opacity: 0.7;
}

.font-subtitle {
  font-size: 18px;
  padding-top: 5px;
  color: #f0f0e6;
  font-weight: bold;
}

.icons-size {
  font-size: 9rem;
  padding: 25px;
  border-radius: 5px;
}

.margin {
  padding: 4em;
}

.mg-btn {
  margin-bottom: 25px;
}


.color-pink {
  color: 	#FFB6C1;
}

/* Contact */
.contact container {
 /*  background-color: #4e6766; */
  padding: 2em;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.icons-contact a{
  color: #808080;
  font-size: 30px;
  transition: all .5s ease;
  }
  
.icons-contact a:hover {
  opacity: 0.5;
}

.font-size {
  font-size: 18px;
  padding: 10px;
/*   text-align: center; */
}

/* Footer*/

/* Add a gray background color and some padding to the footer */
footer {
/*   background-color: #f2f2f2; */
   /*  background-color: rgba(232, 53, 86, 1); */
  background-color: #f4f4f4;
  color: #808080;
  padding: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (min-width: 768px) {
  .mg-btn {
    margin-bottom: 15px;
  }
}



